nav{

border-color: black;
}

/* li {
    text-align: center;
    justify-content: center;
    height: 100vh;
    margin: 20;

}

ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 20;
    border: 20px;
    border-radius: 20px;
} */

.section{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20;
}

.section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20;
    border: 20px;
    border-radius: 2px;

}
